* {
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Open Sans', Roboto, Ubuntu, system-ui, -apple-system, BlinkMacSystemFont, Oxygen, Cantarell, 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 10px 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hidden {
    display: none;
}

#chat-log {
    flex: 1;
}

button {
    align-self: stretch;
    min-width: 100px;
    background-color: #6c85e1;
    cursor: pointer;
    transition: .1s linear;
    border: 1px solid #bec3c7;
    border-left: none;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
}

button:hover {
    background-color: #6cbee1;
}

button:active {
    background-color: #6c8fe1;
}

.avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

.user-input {
    /* position: absolute;
    bottom: 0;
    left: 0; */
    position: sticky;
    bottom: 0;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-input input {
    font-size: 16px;
    padding: 10px;
    width: 80%;
    border: 1px solid #bec3c7;
    border-right: none;
    border-radius: 10px 0 0 10px;
}

.user-input button[type=submit] {
    align-self: stretch;
    min-width: 100px;
    background-color: #6c85e1;
    cursor: pointer;
    transition: .1s linear;
    border: 1px solid #bec3c7;
    border-left: none;
    border-radius: 0px 10px 10px 0px;
    color: white;
}

.user-input button[type=submit]:hover {
    background-color: #6cbee1;
}

.user-input button[type=submit]:active {
    background-color: #6c8fe1;
}

.message__text {
    background: #ecf0f1;
    padding: 20px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 15vw;
}

.message__text.user {
    background-color: #6cbee1;
    margin-left: 15vw;
    margin-right: 10px;
}


.typing {
    width: 5em;
    height: 2em;
    position: relative;
    padding: 10px;
    margin-left: 5px;
    background: #e6e6e6;
    border-radius: 20px;
}
  
.typing__dot {
    float: left;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background: #8d8c91;
    border-radius: 50%;
    opacity: 0;
    animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
    animation-delay: 0s;
}

.typing__dot:nth-child(2) {
    animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
    animation-delay: 0.4s;
}

.avatar-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    background: rgba(255, 255, 255, .3);
}

.avatar-menu img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10px;
}

.avatar-menu__wrapper {
    background: white;
    width: 60vw;
    box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    border-radius: 20px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    padding: 30px;
}

.avatar-menu__wrapper .close {
    background: none;
    border: none;
    color: #6c85e1;
    background: #ecf0f1;
    align-self: flex-end;
    grid-row: 1;
    grid-column: 2;
}

.avatar-menu__wrapper .close:hover {
    color: #222 !important;
}

.avatar-menu__title {
    grid-row: 1;
    grid-column: 1;
}

.avatar-menu__menu {
    grid-row: 2;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    padding: 0;
    margin: 0 auto;
    width: 90%;
    list-style-type: none;
}

.avatar-menu__menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.avatar-menu__menu li a {
    align-self: stretch;
    min-width: 100px;
    background-color: #6c85e1;
    cursor: pointer;
    transition: .1s linear;
    border: 1px solid #bec3c7;
    border-left: none;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;

    background: none;
    border: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: #222;
}

.avatar-menu__menu li a:hover {
    background: #ecf0f1;
}
.avatar-menu__menu li a:active {
    background: #bec3c7;
}

.avatar-menu__wrapper .close:hover {
    color: #6cbee1;
    background: #bec3c7;
}

.avatar-menu__wrapper .close:active {
    color: #6cbee1;
    background: #929292;
}

@keyframes loadingFade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}

.darkmode .message__text {
    color: #222;
}

body.darkmode {
    background: #222;
    color: #ecf0f1;
}