<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/index.css" rel="stylesheet" />
    <title>GenAI Hackathon Team 21</title>
</head>
<body>
    <header>
        <h1>GenAI Hackathon Team 21</h1>
        <div class="avatar">
            <button class="avatar__select">
                Talking with <%= user.avatarname %>
                <img src="<%= user.img %>" alt="chat-bot avatar" />
            </button>
        </div>
        <div class="auth">
            <% if (user) { %>
                <p>Logged in as <strong><%= user.name %></strong> <a href="logout">logout</a></p>
            <% } else { %>
                <a href="login">login</a>
            <% } %>
        </div>
    </header>
    <div id="chat-log">
        <div class="message--sent">
            <div class='message__text ${role}'>
                Hi<%= user ? ' ' + user.name : '' %>! I'm Hall, your own personal PICOE bot. What would you like to know?
            </div>
        </div>
    </div>
    <div class="typing hidden">
        <div class="typing__dot"></div>
        <div class="typing__dot"></div>
        <div class="typing__dot"></div>
    </div>
    <form action="" class="user-input">
        <input type="text" name="message" id="message" placeholder="Type your question here..." autofocus />
        <button type="submit">Send</button>
    </form>
</body>
<script src="/js/index.js"></script>
</html>