<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/login.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <h1>Login to Team 21s Project</h1>
    <div class="container">
        <h2 class="title title-login selected"><button onClick="console.log('?')">Login</button></h2>
        <form action="login" method="post" class="form login" enctype="application/x-www-form-urlencoded">
            <label for="login-username">Username</label>
            <input class="text-input" type="username" placeholder="Your username" name="username" id="login-username" />
            <label for="login-password">Password</label>
            <input class="text-input" type="password" placeholder="Your password" name="password" id="login-password" />
            <button type="submit">Login</button>
        </form>
        <h2 class="title title-register"><button onClick="console.log('?')">Register</button></h2>
        <form action="user" method="post" class="form register hidden" enctype="application/x-www-form-urlencoded">
            <label for="register-name">Your Name</label>
            <input class="text-input" type="name" placeholder="Your name" name="name" id="register-name" />
            <label for="register-username">Username</label>
            <input class="text-input" type="username" placeholder="Your username" name="username" id="register-username" />
            <label for="register-password">Password</label>
            <input class="text-input" type="password" placeholder="Your password" name="password" id="register-password" />
            <button type="submit">Register</button>
        </form>
    </div>
</body>
<script src="/js/login.js"></script>
</html>